<template>
  <div class="home">
    <company-list />
    <company-add />
    <company-preview />
  </div>
</template>

<script>
// @ is an alias to /src
import CompanyList from "@/components/CompanyList.vue";
import CompanyPreview from "@/components/CompanyPreview.vue";
import CompanyAdd from "@/components/CompanyAdd.vue";

export default {
  name: "home",
  components: {
    CompanyList, CompanyPreview, CompanyAdd
  }
};
</script>
