<template>
    <div class="section">
        <div class="container columns">
            <div class="column is-5">
                <label class="label">Symbol</label><input class="input" v-model="symbol">
                <button class="button" @click=send()>Add</button>
            </div>
        </div>
    </div> 
</template>

<script>
export default {
    data: () => ({
        symbol: '',
    }),
    methods: {
        send() {
            if (!this.symbol) return;
            this.$store.dispatch('createCompany', {
                symbol: this.symbol
            })
        }
    }
}
</script>
