<template>
   <div>
       <table class="table">
           <tbody>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>URL</th>
            </tr>
            <tr v-for="company in companies" :key="company.symbol" @click="open(company.symbol)">
                <td>{{ company.name }}</td>
                <td>{{ company.symbol }}</td>
                <td>{{ company.website}}</td>
            </tr>
           </tbody>
       </table>
   </div> 
</template>

<script>
export default {
    created() {
        this.$store.dispatch('updateCompanies');
    },
    computed: {
        companies() {
            return this.$store.getters.companies;
        }
    },
    methods: {
        open(symbol) {
            this.$store.dispatch('showCompany', symbol);
        }
    }
}
</script>

