<template>
    <div class="modal" :class="{'is-active': isActive}">
        <div class="modal-background" @click="hide()"></div>
        <div class="modal-content" v-if="company != null"> 
            <div class="box">
                <figure class="image is-64x64">
                    <img :src="company.logo">
                </figure>
                <div>Name: {{ company.name }}</div>
                <div>Symbol: {{ company.symbol }}</div>
                <div>Website: <a :href="company.website">{{ company.website }}</a></div>
                <div>Last statistics ({{ company.last_statistic.date }}):</div>
                <div class="section columns">
                    <div class="column is-centered is-full">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Volume</th>
                                    <th>Open</th>
                                    <th>Low</th>
                                    <th>High</th>
                                    <th>Close</th>
                                </tr>
                                <tr>
                                    <td>{{company.last_statistic.volume}}</td>
                                    <td>{{company.last_statistic.open}}</td>
                                    <td>{{company.last_statistic.low}}</td>
                                    <td>{{company.last_statistic.high}}</td>
                                    <td>{{company.last_statistic.close}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
        <button class="modal-close is-large" aria-label="close" @click="hide()"></button>
    </div>
</template>

<script>
import { find } from 'lodash';

export default {
    computed: {
        isActive() {
            return this.company != null;
        },
        company() {
            const active = this.$store.getters.activeCompany;
            if (active == null) return null;
            const company = find(this.$store.getters.companies, {symbol: active})            
            return company;
        }
    },
    methods: {
        hide() {
            this.$store.dispatch('showCompany', null);
        }
    }
}
</script>
